run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = [
  "nodejs_20",
  "python3_11",
  "python3Packages.pip",
  "chromium",
  "glibcLocales",
]

[deployment]
deploymentTarget = "autoscale"
build = "npm run build"

[[ports]]
localPort = 5000
externalPort = 80
