run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = [
  "nodejs_20",
  "python311",
  "pip",
  "glibcLocales",
  "chromium"
]

[deployment]
deploymentTarget = "autoscale"
build = "npm run build"
run = "npm start"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Start application"

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

